<div class="col-md-12 d-md-block d-none bg-secondary-subtle">
    <p class="text-center">menu</p>
  </div>
  <div class="col-12 col-sm-12 d-sm-block d-md-none d-none bg-warning">
    <p class="text-center">menu</p>
  </div>
  <div class="col-12 d-block d-sm-none d-md-none bg-info">
    <p class="text-center">menu</p>
  </div>

  <div class="col-md-6 col-12 imagen ">
    <p class="text-center">Img 1</p>
  </div>
  <div class="col-md-6 d-none d-md-block imagen ">
    <p class="text-center">Img 2</p>
  </div>
  <div class="col-md-12 col-12 imagen ">
    <p class="text-center">Img 3</p>
  </div>

  <div class="col-md-3 col-sm-4 col-6 article">
    <p class="text-center">Art</p>
  </div>
  <div class="col-md-3 col-sm-4 col-6 article">
    <p class="text-center">Art</p>
  </div>
  <div class="col-md-3 col-sm-4 col-6  article">
    <p class="text-center">Art</p>
  </div>
  <div class="col-md-3 col-sm-4 col-6  article">
    <p class="text-center">Art</p>
  </div>
  <div class="col-md-3 col-sm-4 col-6  article">
    <p class="text-center">Art</p>
  </div>
  <div class="col-md-3 col-sm-4 col-6 article">
    <p class="text-center">Art</p>
  </div>
  <div class="col-md-3 col-sm-4 col-6 article">
    <p class="text-center">Art</p>
  </div>
  <div class="col-md-3 d-sm-none d-md-block col-6 article">
    <p class="text-center">Art</p>
  </div>

  <div class="col-lg-12 col-12 pie">
    <footer class="text-center">footer</footer>
  </div>