div {
    float: left;
}

hr{
    color: white;
}

.form-control{
    background-color: rgb(7, 7, 192);
}
/*para la tabla*/
section h4{
   background-color: rgb(140, 190, 207);
   padding: 10px 5px;
   color: white;
}