<h3 class="text-center">Los signos del zodiaco</h3>
<div class="row">
  <div class="col-12 col-md-12">
    <div class="col-6 col-sm-6 col-md-4">
      <img src="assets/img/aries.png" alt="" class="col-6" />
      <h3 class="text-center text-white bg-success col-6">Aries</h3>
    </div>
    <div class="col-6 col-sm-6 col-md-4">
      <img src="assets/img/leo.png" alt="" class="col-6" />
      <h3 class="text-center text-white bg-success col-6">Leo</h3>
    </div>
    <div class="col-6 col-sm-6 col-md-4">
      <img src="assets/img/sagitario.png" alt="" class="col-6" />
      <h3 class="text-center text-white bg-success col-6">Sagitario</h3>
    </div>
    <div class="col-6 col-sm-6 col-md-4">
      <img src="assets/img/tauro.png" alt="" class="col-6" />
      <h3 class="text-center text-white bg-success col-6">Tauro</h3>
    </div>
    <div class="col-6 col-sm-6 col-md-4">
      <img src="assets/img/virgo.png" alt="" class="col-6" />
      <h3 class="text-center text-white bg-success col-6">Virgo</h3>
    </div>
    <div class="col-6 col-sm-6 col-md-4">
      <img src="assets/img/capricornio.png" alt="" class="col-6" />
      <h3 class="text-center text-white bg-success col-6">Capricornio</h3>
    </div>
  </div>
  <div class="col-6 col-sm-6 col-md-4">
    <img src="assets/img/geminis.png" alt="" class="col-6" />
    <h3 class="text-center text-white bg-success col-6">Géminis</h3>
  </div>
  <div class="col-6 col-sm-6 col-md-4">
    <img src="assets/img/libra.png" alt="" class="col-6" />
    <h3 class="text-center text-white bg-success col-6">Libra</h3>
  </div>
  <div class="col-6 col-sm-6 col-md-4">
    <img src="assets/img/acuario.png" alt="" class="col-6" />
    <h3 class="text-center text-white bg-success col-6">Acuario</h3>
  </div>
  <div class="col-6 col-sm-6 col-md-4">
    <img src="assets/img/cancer.png" alt="" class="col-6" />
    <h3 class="text-center text-white bg-success col-6">Cáncer</h3>
  </div>
  <div class="col-6 col-sm-6 col-md-4">
    <img src="assets/img/scorpio.png" alt="" class="col-6" />
    <h3 class="text-center text-white bg-success col-6">Escorpio</h3>
  </div>
  <div class="col-6 col-sm-6 col-md-4">
    <img src="assets/img/piscis.png" alt="" class="col-6" />
    <h3 class="text-center text-white bg-success col-6">Piscis</h3>
  </div>
</div>

<div class="col-12">
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-9 col-md-9">
        <div class="card-body">
          <h5 class="card-title bg-success text-white">Aries - Dia</h5>
          <h3 class="text-info">Aries</h3>
          <br />
          <br />

          <p class="card-text">
            This is a wider card with supporting text below as a natural lead-in
            to additional content. This content is a little bit longer.
          </p>
        </div>
      </div>
      <div class="col-3 col-md-3">
        <img src="assets/img/aries.png" class="img-fluid rounded-start" />
      </div>
    </div>
  </div>
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-9 col-md-9">
        <div class="card-body">
          <h5 class="card-title bg-success text-white">Aries - Mes</h5>
          <h3 class="text-info">Aries</h3>
          <br />
          <br />
          <p class="card-text">
            This is a wider card with supporting text below as a natural lead-in
            to additional content. This content is a little bit longer.
          </p>
        </div>
      </div>
      <div class="col-3 col-md-3">
        <img src="assets/img/aries.png" class="img-fluid rounded-start" />
      </div>
    </div>
  </div>
</div>
